// Variables
// --------------------------

$el-font-path:        "../fonts" !default;
$el-font-size-base:   14px !default;
//$el-font-path:        "//netdna.bootstrapcdn.com/elusive-icons/2.0.0/fonts" !default; // for referencing Bootstrap CDN font files directly
$el-css-prefix:       el !default;
$el-version:          "2.0.0" !default;
$el-border-color:     #eee !default;
$el-inverse:          #fff !default;
$el-li-width:         (30em / 14) !default;

$el-var-zoom-in: "\e601";
$el-var-zoom-out: "\e600";

