<div class="jumbotron jumbotron-carousel hidden-print">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 text-center">
        <h1>Elusive Icons</h1>
        <p>{{ site.elusiveicons.tagline }}</p>
        <div class="actions">
          <a class="btn btn-default btn-lg" href="{{ page.relative_path }}assets/elusive-icons-{{ site.elusiveicons.version }}.zip"
             onClick="_gaq.push(['_trackEvent', 'Outbound Link', 'Download on GitHub']);">
            <i class="el el-download el-lg"></i>&nbsp;&nbsp;
            Download
          </a>
        </div>
        <div class="shameless-self-promotion">
          Version {{ site.elusiveicons.version }} &nbsp;&nbsp;&middot;&nbsp;&nbsp;
          <a href="{{ site.elusiveicons.github.url }}"
             onClick="_gaq.push(['_trackEvent', 'Outbound Link', 'View Project on GitHub']);">
            GitHub Project</a> &nbsp;&nbsp;&middot;&nbsp;&nbsp;
            Maintained by <a href="{{ site.elusiveicons.author.url }}">{{ site.elusiveicons.author.name }}</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div id="icon-carousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><div><i class="el {{ site.elusiveicons.primary_icon }}"></i></div></div>
            <div class="item"><div><i class="el el-asl"></i></div></div>
            <div class="item"><div><i class="el el-brush"></i></div></div>
            <div class="item"><div><i class="el el-globe"></i></div></div>
            <div class="item"><div><i class="el el-envelope"></i></div></div>
            <div class="item"><div><i class="el el-film"></i></div></div>
            <div class="item"><div><i class="el el-leaf"></i></div></div>
            <div class="item"><div><i class="el el-plane"></i></div></div>
            <div class="item"><div><i class="el el-wordpress"></i></div></div>
            <div class="item"><div><i class="el el-headphones"></i></div></div>
            <div class="item"><div><i class="el el-idea"></i></div></div>
            <div class="item"><div><i class="el el-music"></i></div></div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#icon-carousel" data-slide="prev"
             onClick="_gaq.push(['_trackEvent', 'iconCarousel', 'Prev']);">
            <i class="el el-circle-arrow-left"></i></a>
          <a class="carousel-control right" href="#icon-carousel" data-slide="next"
             onClick="_gaq.push(['_trackEvent', 'iconCarousel', 'Next']);">
            <i class="el el-circle-arrow-right"></i></a>
        </div>
      </div>
    </div>

  </div>
</div>
