<section id="new-naming">
  <h2 class="page-header">New Naming Conventions in {{ site.elusiveicons.minor_version }}</h2>
  <p class="lead text-center alert alert-success">el-[name]-[shape]-[o]-[direction]</p>
  <p>
    A desire for better icon naming <strong>consistency</strong> and <strong>predictability</strong> are at the heart
    of the changes in naming conventions. Once you know the name of the base icon shape, you should be able to predict
    the names of variants.
  </p>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <h4 class="margin-bottom-sm">el-*</h4>
      <p class="margin-bottom-sm">Solid icons as the base variant</p>
      <ul class="el-ul padding-left-sm">
        <li>
          <i class="el el-bookmark el-li"></i>
          el-bookmark
        </li>
        <li>
          <i class="el el-comment el-li"></i>
          el-comment
        </li>
        <li>
          <i class="el el-folder el-li"></i>
          el-folder
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <h4 class="margin-bottom-sm">*-o</h4>
      <p class="margin-bottom-sm">Outlined version of previous modifier</p>
      <ul class="el-ul padding-left-sm">
        <li>
          <i class="el el-bookmark-o el-li"></i>
          el-bookmark-o
        </li>
        <li>
          <i class="el el-comment-o el-li"></i>
          el-comment-o
        </li>
        <li>
          <i class="el el-folder-o el-li"></i>
          el-folder-o
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <h4 class="margin-bottom-sm">*-circle</h4>
      <p class="margin-bottom-sm">Circle under previous modifier</p>
      <ul class="el-ul padding-left-sm">
        <li>
          <i class="el el-check-circle el-li"></i>
          el-check-circle
        </li>
        <li>
          <i class="el el-exclamation-circle el-li"></i>
          el-exclamation-circle
        </li>
        <li>
          <i class="el el-plus-circle el-li"></i>
          el-plus-circle
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <h4 class="margin-bottom-sm">*-square</h4>
      <p class="margin-bottom-sm">Square under previous modifier</p>
      <ul class="el-ul padding-left-sm">
        <li>
          <i class="el el-check-square el-li"></i>
          el-check-square
        </li>
        <li>
          <i class="el el-twitter-square el-li"></i>
          el-twitter-square
        </li>
        <li>
          <i class="el el-plus-square el-li"></i>
          el-plus-square
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <h4 class="margin-bottom-sm">*-right, *-up, etc.</h4>
      <p class="margin-bottom-sm">Directional modifier always at the end</p>
      <ul class="el-ul padding-left-sm">
        <li>
          <i class="el el-arrow-right el-li"></i>
          el-arrow-right
        </li>
        <li>
          <i class="el el-arrow-circle-right el-li"></i>
          el-arrow-circle-right
        </li>
        <li>
          <i class="el el-angle-double-right el-li"></i>
          el-angle-double-right
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <h4 class="margin-bottom-sm">*-alt</h4>
      <p class="margin-bottom-sm">Alternative to the original</p>
      <ul class="el-ul padding-left-sm">
        <li>
          <i class="el el-unlock-alt el-li"></i>
          el-unlock-alt
        </li>
        <li>
          <i class="el el-list-alt el-li"></i>
          el-list-alt
        </li>
        <li>
          <i class="el el-github-alt el-li"></i>
          el-github-alt
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <h4 class="margin-bottom-sm">*-h, *-v</h4>
      <p class="margin-bottom-sm">Horizontal &amp; vertical modifiers</p>
      <ul class="el-ul padding-left-sm">
        <li>
          <i class="el el-arrows-v el-li"></i>
          el-arrows-v
        </li>
        <li>
          <i class="el el-arrows-h el-li"></i>
          el-arrows-h
        </li>
        <li>
          <i class="el el-ellipsis-v el-li"></i>
          el-ellipsis-v
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <h4 class="margin-bottom-sm">Combine 'em up...</h4>
      <p class="margin-bottom-sm">Consistent when strung together</p>
      <ul class="el-ul padding-left-sm">
        <li>
          <i class="el el-arrow-circle-o-right el-li"></i>
          el-arrow-circle-o-right
        </li>
        <li>
          <i class="el el-caret-square-o-right el-li"></i>
          el-caret-square-o-right
        </li>
        <li>
          <i class="el el-hand-o-right el-li"></i>
          el-hand-o-right
        </li>
      </ul>
    </div>

  </div>

</section>
