<div id="social-buttons" class="hidden-print">
  <div class="container">
    <ul class="list-inline">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ReduxFramework&repo=Elusive-Icons&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ReduxFramework&repo=Elusive-Icons&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      </li>
      <li class="follow-btn">
        <a href="https://twitter.com/{{ site.elusiveicons.twitter }}" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @{{ site.elusiveicons.twitter }}</a>
      </li>
      <li class="tweet-btn hidden-phone">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.elusiveicons.url }}" data-text="Elusive Icons, an iconic font and modern CSS framework" data-counturl="{{ site.elusiveicons.legacy_url }}" data-count="horizontal" data-via="{{ site.elusiveicons.twitter }}" data-related="{{ site.elusiveicons.author.twitter }}:Creator of Elusive Icons">Tweet</a>
      </li>
    </ul>
  </div>
</div>
