<span style="border: solid 1px #d3d3d3; display: inline-block; text-align: center">
  <span class="el-stack">
    <i class="el el-square el-stack-2x"></i>
    <i class="el el-twitter el-stack-1x el-inverse"></i>
  </span><br>Center
</span>
<hr>
<p>
  <span class="el-stack">
    <i class="el el-square el-stack-2x"></i>
    <i class="el el-twitter el-stack-1x el-inverse"></i>
  </span>
  Twitter Icon
  <span class="el-stack">
    <i class="el el-square el-stack-2x"></i>
    <i class="el el-facebook-f el-stack-1x el-inverse"></i>
  </span>
  Facebook Icon
  <span class="el-stack">
    <i class="el el-square el-stack-2x"></i>
    <i class="el el-github el-stack-1x el-inverse"></i>
  </span>
  GitHub Icon
</p>
<p>
  <span class="el-stack">
    <i class="el el-circle el-stack-2x"></i>
    <i class="el el-twitter el-stack-1x el-inverse"></i>
  </span>
  Twitter Icon
  <span class="el-stack">
    <i class="el el-circle el-stack-2x"></i>
    <i class="el el-facebook-f el-stack-1x el-inverse"></i>
  </span>
  Facebook Icon
  <span class="el-stack">
    <i class="el el-circle el-stack-2x"></i>
    <i class="el el-github el-stack-1x el-inverse"></i>
  </span>
  GitHub Icon
</p>
<p>
  <span class="el-stack">
    <i class="el el-circle-o el-stack-2x"></i>
    <i class="el el-twitter el-stack-1x"></i>
  </span>
  Twitter Icon
  <span class="el-stack">
    <i class="el el-circle-o el-stack-2x"></i>
    <i class="el el-facebook-f el-stack-1x"></i>
  </span>
  Facebook Icon
  <span class="el-stack">
    <i class="el el-circle-o el-stack-2x"></i>
    <i class="el el-github el-stack-1x"></i>
  </span>
  GitHub Icon
</p>
