<div id="getting-support">
  <h2 class="page-header">Getting Support</h2>
  <p>
    Having trouble getting Elusive Icons up and running? Something not working the way you think it should? I hate that
    I don't have time to answer Elusive Icons support emails anymore. So here are some things you might wanna do:
  </p>
  <ol>
    <li>
      Make sure you've read the latest version of how to <a href="{{ page.relative_path }}get-started/">get started</a>.
      It's been updated recently to make Elusive Icons even easier to use.
    </li>
    <li>
      Check out the <a href="http://stackoverflow.com/questions/tagged/elusive-icons">existing questions tagged as
      Elusive Icons</a> over on Stack Overflow. Other folks might have had the same question you've had.
    </li>
    <li>
      Can't find the answer to your question on Stack Overflow?
      <a href="http://stackoverflow.com/questions/ask?tags=elusive-icons">Ask a new question</a>, then
      <a href="mailto:{{ site.elusiveicons.author.email }}">send me an email</a> and I might be able to take a look.
    </li>
  </ol>
</div>
