<section id="list">
  <h2 class="page-header">
    List Icons
    <div class="pull-right text-default margin-top padding-top-sm hidden-xs">
      <a href="https://github.com/ReduxFramework/Elusive-Icons/blob/{{ site.elusiveicons.doc_blob }}/less/list.less" class="text-muted padding-right">View LESS</a>
      <a href="https://github.com/ReduxFramework/Elusive-Icons/blob/{{ site.elusiveicons.doc_blob }}/scss/_list.scss" class="text-muted">View SASS</a>
    </div>
  </h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <ul class="el-ul">
        <li><i class="el-li fa el-check-square"></i>List icons</li>
        <li><i class="el-li fa el-check-square"></i>can be used</li>
        <li><i class="el-li fa el-spinner el-spin"></i>as bullets</li>
        <li><i class="el-li fa el-square"></i>in lists</li>
      </ul>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>Use <code>el-ul</code> and <code>el-li</code> to easily replace default bullets in unordered lists.</p>
{% highlight html %}
<ul class="el-ul">
  <li><i class="el-li fa el-check-square"></i>List icons</li>
  <li><i class="el-li fa el-check-square"></i>can be used</li>
  <li><i class="el-li fa el-spinner el-spin"></i>as bullets</li>
  <li><i class="el-li fa el-square"></i>in lists</li>
</ul>
{% endhighlight %}
    </div>
  </div>
</section>
