<section id="rotated-flipped">
  <h2 class="page-header">
    Rotated &amp; Flipped
    <div class="pull-right text-default margin-top padding-top-sm hidden-xs">
      <a href="https://github.com/ReduxFramework/Elusive-Icons/blob/{{ site.elusiveicons.doc_blob }}/less/rotated-flipped.less" class="text-muted padding-right">View LESS</a>
      <a href="https://github.com/ReduxFramework/Elusive-Icons/blob/{{ site.elusiveicons.doc_blob }}/scss/_rotated-flipped.scss" class="text-muted">View SASS</a>
    </div>
  </h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <p style="font-size: 18px;">
        <i class="el el-shield"></i>&nbsp; normal<br>
        <i class="el el-shield el-rotate-90"></i>&nbsp; el-rotate-90<br>
        <i class="el el-shield el-rotate-180"></i>&nbsp; el-rotate-180<br>
        <i class="el el-shield el-rotate-270"></i>&nbsp; el-rotate-270<br>
        <i class="el el-shield el-flip-horizontal"></i>&nbsp; el-flip-horizontal<br>
        <i class="el el-shield el-flip-vertical"></i>&nbsp; el-flip-vertical
      </p>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>
        To arbitrarily rotate and flip icons, use the <code>el-rotate-*</code> and <code>el-flip-*</code> classes.
      </p>
{% highlight html %}
<i class="el el-shield"></i> normal<br>
<i class="el el-shield el-rotate-90"></i> el-rotate-90<br>
<i class="el el-shield el-rotate-180"></i> el-rotate-180<br>
<i class="el el-shield el-rotate-270"></i> el-rotate-270<br>
<i class="el el-shield el-flip-horizontal"></i> el-flip-horizontal<br>
<i class="el el-shield el-flip-vertical"></i> icon-flip-vertical
{% endhighlight %}
    </div>
  </div>
</section>
